data_img/*
docs/html/*
.ipynb_chechkpoints/*
*.zip
*.csv
execution/*
backup/*
checkpoint/*
data_img/*
data_img_norm/*
data_img_view/*
filters/*
nb/*
results/*
see_img/*
.vscode
*.png
*.pdf
*.xlsx
src/__pychace__/*
log
sys